# =========================
# Operating System Files
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# =========================
# IDEs and Editors
# =========================
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
*.swp
*.swo
*~
*.bak

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# =========================
# Golang (Backend)
# =========================
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt
coverage.html

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# =========================
# Vue.js 3 / Node.js (Frontend)
# =========================
# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Output
dist/
dist-ssr/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# Cache directories
.npm
.eslintcache
.stylelintcache
.vite/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Vue CLI / Vite specific
*.local
config.yaml